<a href="https://colab.research.google.com/github/secun/Promo2_Business_Analytics/blob/main/2_Script_Modulo_2_SOLUCIONES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Módulo 2 - Primeros Pasos**

# Ejercicio 1
 Buscar un paquete que permita hacer gráficos elegantes (consejo: buscad el nombre en google)
 
 Instalar y cargar dicho paquete

In [ ]:
library(ggplot2)

# Ejercicio 2
Usando un bucle for, calcular el factorial del número 100 (100x99x98x97x...)

In [ ]:
FACT=1
for (i in 1:100)
{
  FACT=i*FACT
}
print(FACT)

[1] 9.332622e+157

Comprobamos que el resultado es correcto usando la funcion factorial()

In [ ]:
factorial(100)

[1] 9.332622e+157

# Ejercicio 3
Ejecuta y analiza el siguiente código

¿Para qué sirve cada instrucción?

--> Comentamos este ejercicio porque no es posible establecer interacción en un Notebook de Python.

In [ ]:
# i=0
# while(i != 1) {
#   cat("Escribe un número: ")
#   valor <- readLines(n = 1)
#   valor <- as.numeric(valor)
#   print("El cuadrado de ese número es...")
#   print(valor^2)
#   
#   print("¿Quieres seguir jugando? escribe SI o NO")
#   Respuesta <- readLines(n = 1)
#   
#   if(Respuesta=="SI") {
#     i=0
#   } else 
#   {
#     i=1
#   }
#   
# }

# Ejercicio 4

 Usando bucles realiza la siguiente tarea sobre el dataframe "datos":
 
 Calcula la suma de los salarios de todos los directivos

In [ ]:
#Esta parte extrae los datos desde Github. 
github_link <- "https://github.com/AndresMtnezGlez/MABA/raw/main/2_datos.xlsx"
library(httr)
temp_file <- tempfile(fileext = ".xlsx")
req <- GET(github_link, 
          # authenticate using GITHUB_PAT
           authenticate(Sys.getenv("GITHUB_PAT"), ""),
          # write result to disk
           write_disk(path = temp_file))
datos <- readxl::read_excel(temp_file)

In [ ]:
summary(datos)

SALARIO_DIRECTIVOS=0

for (i in 1:nrow(datos))
{
  if(datos[i,7]=="DIRECTIVO")
  {
    SALARIO_DIRECTIVOS=SALARIO_DIRECTIVOS+datos[i,1]
    
  }else{}
}
SALARIO_DIRECTIVOS

    salario           vacaciones   salario_por_hora     impuestos
 Min.   :   357.4   Min.   : 2.0   Min.   :  0.8817   Min.   :    0.0
 1st Qu.: 17455.1   1st Qu.:22.0   1st Qu.:  9.1576   1st Qu.:  151.5
 Median : 25322.6   Median :22.0   Median : 13.0446   Median :  301.9
 Mean   : 30222.4   Mean   :23.4   Mean   : 15.7115   Mean   :  448.9
 3rd Qu.: 37336.2   3rd Qu.:25.0   3rd Qu.: 18.9490   3rd Qu.:  548.1
 Max.   :882929.1   Max.   :84.0   Max.   :434.1766   Max.   :13895.2
     sexo             mercado           categoria           distancia
 Length:4729        Length:4729        Length:4729        Min.   : 1.00
 Class :character   Class :character   Class :character   1st Qu.:20.00
 Mode  :character   Mode  :character   Mode  :character   Median :40.00
                                                          Mean   :40.49
                                                          3rd Qu.:61.00
                                                          Max.   :80.00

  salario
1 8117807

Podemos comprobarlo usando la función subset, que estudiaremos más adelante

In [ ]:
DIRECTIVOS=subset(datos,datos$categoria=="TECNICO")
sum(DIRECTIVOS$salario)

[1] 52040284

In [ ]:
52040283.88^1.5

[1] 375413153812

# PRACTICA FINAL PARTE 1

Carga el archivo de datos "IBM.Kaggle.Employee.Attrition.csv"
*   WARNING 1: los datos tienen encabezado (indicalo al cargar los datos)
*   WARNING 2: ¿Qué separador usa el archivo? Abrelo y miralo

Son datos obtenido de Kaggle (plataforma muy útil para aprender R)

Usa read.csv (no la carga desde el menu)

In [ ]:
DATOS_KAGGLE <- read.csv(url("https://github.com/AndresMtnezGlez/MABA/raw/main/2_IBM.Kaggle.Employee.Attrition.csv"))

     Age Attrition BusinessTravel    DailyRate Department
1    41  Yes       Travel_Rarely     1102      Sales
2    49  No        Travel_Frequently  279      Research & Development
3    37  Yes       Travel_Rarely     1373      Research & Development
4    33  No        Travel_Frequently 1392      Research & Development
5    27  No        Travel_Rarely      591      Research & Development
6    32  No        Travel_Frequently 1005      Research & Development
7    59  No        Travel_Rarely     1324      Research & Development
8    30  No        Travel_Rarely     1358      Research & Development
9    38  No        Travel_Frequently  216      Research & Development
10   36  No        Travel_Rarely     1299      Research & Development
11   35  No        Travel_Rarely      809      Research & Development
12   29  No        Travel_Rarely      153      Research & Development
13   31  No        Travel_Rarely      670      Research & Development
14   34  No        Travel_Rarely     1346      Research & Development
15   28  Yes       Travel_Rarely      103      Research & Development
16   29  No        Travel_Rarely     1389      Research & Development
17   32  No        Travel_Rarely      334      Research & Development
18   22  No        Non-Travel        1123      Research & Development
19   53  No        Travel_Rarely     1219      Sales
20   38  No        Travel_Rarely      371      Research & Development
21   24  No        Non-Travel         673      Research & Development
22   36  Yes       Travel_Rarely     1218      Sales
23   34  No        Travel_Rarely      419      Research & Development
24   21  No        Travel_Rarely      391      Research & Development
25   34  Yes       Travel_Rarely      699      Research & Development
26   53  No        Travel_Rarely     1282      Research & Development
27   32  Yes       Travel_Frequently 1125      Research & Development
28   42  No        Travel_Rarely      691      Sales
29   44  No        Travel_Rarely      477      Research & Development
30   46  No        Travel_Rarely      705      Sales
⋮    ⋮   ⋮         ⋮                 ⋮         ⋮
1441 36  No        Travel_Frequently  688      Research & Development
1442 56  No        Non-Travel         667      Research & Development
1443 29  Yes       Travel_Rarely     1092      Research & Development
1444 42  No        Travel_Rarely      300      Research & Development
1445 56  Yes       Travel_Rarely      310      Research & Development
1446 41  No        Travel_Rarely      582      Research & Development
1447 34  No        Travel_Rarely      704      Sales
1448 36  No        Non-Travel         301      Sales
1449 41  No        Travel_Rarely      930      Sales
1450 32  No        Travel_Rarely      529      Research & Development
1451 35  No        Travel_Rarely     1146      Human Resources
1452 38  No        Travel_Rarely      345      Sales
1453 50  Yes       Travel_Frequently  878      Sales
1454 36  No        Travel_Rarely     1120      Sales
1455 45  No        Travel_Rarely      374      Sales
1456 40  No        Travel_Rarely     1322      Research & Development
1457 35  No        Travel_Frequently 1199      Research & Development
1458 40  No        Travel_Rarely     1194      Research & Development
1459 35  No        Travel_Rarely      287      Research & Development
1460 29  No        Travel_Rarely     1378      Research & Development
1461 29  No        Travel_Rarely      468      Research & Development
1462 50  Yes       Travel_Rarely      410      Sales
1463 39  No        Travel_Rarely      722      Sales
1464 31  No        Non-Travel         325      Research & Development
1465 26  No        Travel_Rarely     1167      Sales
1466 36  No        Travel_Frequently  884      Research & Development
1467 39  No        Travel_Rarely      613      Research & Development
1468 27  No        Travel_Rarely      155      Research & Development
1469 49  No        Travel_Frequently 1023      Sales
1470 34  No        Travel_Rarely      628      Research & Development
     DistanceFromHome Education EducationField   EmployeeCount EmployeeNumber ⋯
1     1               2         Life Sciences    1              1             ⋯
2     8               1         Life Sciences    1              2             ⋯
3     2               2         Other            1              4             ⋯
4     3               4         Life Sciences    1              5             ⋯
5     2               1         Medical          1              7             ⋯
6     2               2         Life Sciences    1              8             ⋯
7     3               3         Medical          1             10             ⋯
8    24               1         Life Sciences    1             11             ⋯
9    23               3         Life Sciences    1             12             ⋯
10   27               3         Medical          1             13             ⋯
11   16               3         Medical          1             14             ⋯
12   15               2         Life Sciences    1             15             ⋯
13   26               1         Life Sciences    1             16             ⋯
14   19               2         Medical          1             18             ⋯
15   24               3         Life Sciences    1             19             ⋯
16   21               4         Life Sciences    1             20             ⋯
17    5               2         Life Sciences    1             21             ⋯
18   16               2         Medical          1             22             ⋯
19    2               4         Life Sciences    1             23             ⋯
20    2               3         Life Sciences    1             24             ⋯
21   11               2         Other            1             26             ⋯
22    9               4         Life Sciences    1             27             ⋯
23    7               4         Life Sciences    1             28             ⋯
24   15               2         Life Sciences    1             30             ⋯
25    6               1         Medical          1             31             ⋯
26    5               3         Other            1             32             ⋯
27   16               1         Life Sciences    1             33             ⋯
28    8               4         Marketing        1             35             ⋯
29    7               4         Medical          1             36             ⋯
30    2               4         Marketing        1             38             ⋯
⋮    ⋮                ⋮         ⋮                ⋮             ⋮              ⋱
1441  4               2         Life Sciences    1             2025           ⋯
1442  1               4         Life Sciences    1             2026           ⋯
1443  1               4         Medical          1             2027           ⋯
1444  2               3         Life Sciences    1             2031           ⋯
1445  7               2         Technical Degree 1             2032           ⋯
1446 28               4         Life Sciences    1             2034           ⋯
1447 28               3         Marketing        1             2035           ⋯
1448 15               4         Marketing        1             2036           ⋯
1449  3               3         Life Sciences    1             2037           ⋯
1450  2               3         Technical Degree 1             2038           ⋯
1451 26               4         Life Sciences    1             2040           ⋯
1452 10               2         Life Sciences    1             2041           ⋯
1453  1               4         Life Sciences    1             2044           ⋯
1454 11               4         Marketing        1             2045           ⋯
1455 20               3         Life Sciences    1             2046           ⋯
1456  2               4         Life Sciences    1             2048           ⋯
1457 18               4         Life Sciences    1             2049           ⋯
1458  2               4         Medical          1             2051           ⋯
1459  1               4         Life Sciences    1             2052           ⋯
1460 13               2         Other            1             2053           ⋯
1461 28               4         Medical          1             2054           ⋯
1462 28               3         Marketing        1             2055           ⋯
1463 24               1         Marketing        1             2056           ⋯
1464  5               3         Medical          1             2057           ⋯
1465  5               3         Other            1             2060           ⋯
1466 23               2         Medical          1             2061           ⋯
1467  6               1         Medical          1             2062           ⋯
1468  4               3         Life Sciences    1             2064           ⋯
1469  2               3         Medical          1             2065           ⋯
1470  8               3         Medical          1             2068           ⋯
     RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1    1                        80            0                 8
2    4                        80            1                10
3    2                        80            0                 7
4    3                        80            0                 8
5    4                        80            1                 6
6    3                        80            0                 8
7    1                        80            3                12
8    2                        80            1                 1
9    2                        80            0                10
10   2                        80            2                17
11   3                        80            1                 6
12   4                        80            0                10
13   4                        80            1                 5
14   3                        80            1                 3
15   2                        80            0                 6
16   3                        80            1                10
17   4                        80            2                 7
18   2                        80            2                 1
19   3                        80            0                31
20   3                        80            0                 6
21   4                        80            1                 5
22   2                        80            0                10
23   3                        80            0                13
24   4                        80            0                 0
25   3                        80            0                 8
26   4                        80            1                26
27   2                        80            0                10
28   4                        80            1                10
29   4                        80            1                24
30   4                        80            0                22
⋮    ⋮                        ⋮             ⋮                ⋮
1441 2                        80            3                18
1442 1                        80            1                13
1443 2                        80            3                 4
1444 1                        80            0                24
1445 4                        80            1                14
1446 3                        80            1                21
1447 4                        80            2                 8
1448 1                        80            1                15
1449 3                        80            1                14
1450 4                        80            0                 4
1451 3                        80            0                 9
1452 3                        80            1                10
1453 4                        80            2                12
1454 1                        80            1                 8
1455 3                        80            0                 8
1456 4                        80            0                 8
1457 4                        80            2                10
1458 2                        80            3                20
1459 4                        80            1                 4
1460 1                        80            1                10
1461 2                        80            0                 5
1462 2                        80            1                20
1463 1                        80            1                21
1464 2                        80            0                10
1465 4                        80            0                 5
1466 3                        80            1                17
1467 1                        80            1                 9
1468 2                        80            1                 6
1469 4                        80            0                17
1470 1                        80            0                 6
     TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1    0                     1                6              4
2    3                     3               10              7
3    3                     3                0              0
4    3                     3                8              7
5    3                     3                2              2
6    2                     2                7              7
7    3                     2                1              0
8    2                     3                1              0
9    2                     3                9              7
10   3                     2                7              7
11   5                     3                5              4
12   3                     3                9              5
13   1                     2                5              2
14   2                     3                2              2
15   4                     3                4              2
16   1                     3               10              9
17   5                     2                6              2
18   2                     2                1              0
19   3                     3               25              8
20   3                     3                3              2
21   5                     2                4              2
22   4                     3                5              3
23   4                     3               12              6
24   6                     3                0              0
25   2                     3                4              2
26   3                     2               14             13
27   5                     3               10              2
28   2                     3                9              7
29   4                     3               22              6
30   2                     2                2              2
⋮    ⋮                     ⋮               ⋮              ⋮
1441 3                     3                4              2
1442 2                     2               13             12
1443 3                     4                2              2
1444 2                     2               22              6
1445 4                     1               10              9
1446 3                     3               20              7
1447 2                     3                8              7
1448 4                     2               15             12
1449 5                     3                5              4
1450 4                     3                4              2
1451 2                     3                9              0
1452 1                     3               10              7
1453 3                     3                6              3
1454 2                     2                6              3
1455 3                     3                5              3
1456 2                     3                2              2
1457 2                     4               10              2
1458 2                     3                5              3
1459 5                     3                4              3
1460 2                     3                4              3
1461 3                     1                5              4
1462 3                     3                3              2
1463 2                     2               20              9
1464 2                     3                9              4
1465 2                     3                4              2
1466 3                     3                5              2
1467 5                     3                7              7
1468 0                     3                6              2
1469 3                     2                9              6
1470 3                     4                4              3
     YearsSinceLastPromotion YearsWithCurrManager
1    0                        5
2    1                        7
3    0                        0
4    3                        0
5    2                        2
6    3                        6
7    0                        0
8    0                        0
9    1                        8
10   7                        7
11   0                        3
12   0                        8
13   4                        3
14   1                        2
15   0                        3
16   8                        8
17   0                        5
18   0                        0
19   3                        7
20   1                        2
21   1                        3
22   0                        3
23   2                       11
24   0                        0
25   1                        3
26   4                        8
27   6                        7
28   4                        2
29   5                       17
30   2                        1
⋮    ⋮                       ⋮
1441  0                       2
1442  1                       9
1443  2                       2
1444  4                      14
1445  9                       8
1446  0                      10
1447  1                       7
1448 11                      11
1449  0                       4
1450  1                       2
1451  1                       7
1452  1                       9
1453  0                       1
1454  0                       0
1455  0                       1
1456  2                       2
1457  0                       2
1458  0                       2
1459  1                       1
1460  0                       3
1461  0                       4
1462  2                       0
1463  9                       6
1464  1                       7
1465  0                       0
1466  0                       3
1467  1                       7
1468  0                       3
1469  0                       8
1470  1                       2

'data.frame':	1470 obs. of  35 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : chr  "Yes" "No" "Yes" "No" ...
 $ BusinessTravel          : chr  "Travel_Rarely" "Travel_Frequently" "Travel_Rarely" "Travel_Frequently" ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ Department              : chr  "Sales" "Research & Development" "Research & Development" "Research & Development" ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EducationField          : chr  "Life Sciences" "Life Sciences" "Other" "Life Sciences" ...
 $ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : int  2 3 4 4 1 4 3 4 4 3 ...
 $ Gender                  : chr  "Female" "Male" "Male" "Female" ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : int  3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : int  2 2 1 1 1 1 1 1 3 2 ...
 $ JobRole                 : chr  "Sales Executive" "Research Scientist" "Laboratory Technician" "Research Scientist" ...
 $ JobSatisfaction         : int  4 2 3 3 2 4 1 3 3 3 ...
 $ MaritalStatus           : chr  "Single" "Married" "Single" "Married" ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ Over18                  : chr  "Y" "Y" "Y" "Y" ...
 $ OverTime                : chr  "Yes" "No" "Yes" "Yes" ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: int  1 4 2 3 4 3 1 2 2 2 ...
 $ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
 $ StockOptionLevel        : int  0 1 0 0 1 0 3 1 0 2 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : int  1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...

      Age         Attrition         BusinessTravel       DailyRate
 Min.   :18.00   Length:1470        Length:1470        Min.   : 102.0
 1st Qu.:30.00   Class :character   Class :character   1st Qu.: 465.0
 Median :36.00   Mode  :character   Mode  :character   Median : 802.0
 Mean   :36.92                                         Mean   : 802.5
 3rd Qu.:43.00                                         3rd Qu.:1157.0
 Max.   :60.00                                         Max.   :1499.0
  Department        DistanceFromHome   Education     EducationField
 Length:1470        Min.   : 1.000   Min.   :1.000   Length:1470
 Class :character   1st Qu.: 2.000   1st Qu.:2.000   Class :character
 Mode  :character   Median : 7.000   Median :3.000   Mode  :character
                    Mean   : 9.193   Mean   :2.913
                    3rd Qu.:14.000   3rd Qu.:4.000
                    Max.   :29.000   Max.   :5.000
 EmployeeCount EmployeeNumber   EnvironmentSatisfaction    Gender
 Min.   :1     Min.   :   1.0   Min.   :1.000           Length:1470
 1st Qu.:1     1st Qu.: 491.2   1st Qu.:2.000           Class :character
 Median :1     Median :1020.5   Median :3.000           Mode  :character
 Mean   :1     Mean   :1024.9   Mean   :2.722
 3rd Qu.:1     3rd Qu.:1555.8   3rd Qu.:4.000
 Max.   :1     Max.   :2068.0   Max.   :4.000
   HourlyRate     JobInvolvement    JobLevel       JobRole
 Min.   : 30.00   Min.   :1.00   Min.   :1.000   Length:1470
 1st Qu.: 48.00   1st Qu.:2.00   1st Qu.:1.000   Class :character
 Median : 66.00   Median :3.00   Median :2.000   Mode  :character
 Mean   : 65.89   Mean   :2.73   Mean   :2.064
 3rd Qu.: 83.75   3rd Qu.:3.00   3rd Qu.:3.000
 Max.   :100.00   Max.   :4.00   Max.   :5.000
 JobSatisfaction MaritalStatus      MonthlyIncome    MonthlyRate
 Min.   :1.000   Length:1470        Min.   : 1009   Min.   : 2094
 1st Qu.:2.000   Class :character   1st Qu.: 2911   1st Qu.: 8047
 Median :3.000   Mode  :character   Median : 4919   Median :14236
 Mean   :2.729                      Mean   : 6503   Mean   :14313
 3rd Qu.:4.000                      3rd Qu.: 8379   3rd Qu.:20462
 Max.   :4.000                      Max.   :19999   Max.   :26999
 NumCompaniesWorked    Over18            OverTime         PercentSalaryHike
 Min.   :0.000      Length:1470        Length:1470        Min.   :11.00
 1st Qu.:1.000      Class :character   Class :character   1st Qu.:12.00
 Median :2.000      Mode  :character   Mode  :character   Median :14.00
 Mean   :2.693                                            Mean   :15.21
 3rd Qu.:4.000                                            3rd Qu.:18.00
 Max.   :9.000                                            Max.   :25.00
 PerformanceRating RelationshipSatisfaction StandardHours StockOptionLevel
 Min.   :3.000     Min.   :1.000            Min.   :80    Min.   :0.0000
 1st Qu.:3.000     1st Qu.:2.000            1st Qu.:80    1st Qu.:0.0000
 Median :3.000     Median :3.000            Median :80    Median :1.0000
 Mean   :3.154     Mean   :2.712            Mean   :80    Mean   :0.7939
 3rd Qu.:3.000     3rd Qu.:4.000            3rd Qu.:80    3rd Qu.:1.0000
 Max.   :4.000     Max.   :4.000            Max.   :80    Max.   :3.0000
 TotalWorkingYears TrainingTimesLastYear WorkLifeBalance YearsAtCompany
 Min.   : 0.00     Min.   :0.000         Min.   :1.000   Min.   : 0.000
 1st Qu.: 6.00     1st Qu.:2.000         1st Qu.:2.000   1st Qu.: 3.000
 Median :10.00     Median :3.000         Median :3.000   Median : 5.000
 Mean   :11.28     Mean   :2.799         Mean   :2.761   Mean   : 7.008
 3rd Qu.:15.00     3rd Qu.:3.000         3rd Qu.:3.000   3rd Qu.: 9.000
 Max.   :40.00     Max.   :6.000         Max.   :4.000   Max.   :40.000
 YearsInCurrentRole YearsSinceLastPromotion YearsWithCurrManager
 Min.   : 0.000     Min.   : 0.000          Min.   : 0.000
 1st Qu.: 2.000     1st Qu.: 0.000          1st Qu.: 2.000
 Median : 3.000     Median : 1.000          Median : 3.000
 Mean   : 4.229     Mean   : 2.188          Mean   : 4.123
 3rd Qu.: 7.000     3rd Qu.: 3.000          3rd Qu.: 7.000
 Max.   :18.000     Max.   :15.000          Max.   :17.000

In [ ]:
View(DATOS_KAGGLE)

     Age Attrition BusinessTravel    DailyRate Department
1    41  Yes       Travel_Rarely     1102      Sales
2    49  No        Travel_Frequently  279      Research & Development
3    37  Yes       Travel_Rarely     1373      Research & Development
4    33  No        Travel_Frequently 1392      Research & Development
5    27  No        Travel_Rarely      591      Research & Development
6    32  No        Travel_Frequently 1005      Research & Development
7    59  No        Travel_Rarely     1324      Research & Development
8    30  No        Travel_Rarely     1358      Research & Development
9    38  No        Travel_Frequently  216      Research & Development
10   36  No        Travel_Rarely     1299      Research & Development
11   35  No        Travel_Rarely      809      Research & Development
12   29  No        Travel_Rarely      153      Research & Development
13   31  No        Travel_Rarely      670      Research & Development
14   34  No        Travel_Rarely     1346      Research & Development
15   28  Yes       Travel_Rarely      103      Research & Development
16   29  No        Travel_Rarely     1389      Research & Development
17   32  No        Travel_Rarely      334      Research & Development
18   22  No        Non-Travel        1123      Research & Development
19   53  No        Travel_Rarely     1219      Sales
20   38  No        Travel_Rarely      371      Research & Development
21   24  No        Non-Travel         673      Research & Development
22   36  Yes       Travel_Rarely     1218      Sales
23   34  No        Travel_Rarely      419      Research & Development
24   21  No        Travel_Rarely      391      Research & Development
25   34  Yes       Travel_Rarely      699      Research & Development
26   53  No        Travel_Rarely     1282      Research & Development
27   32  Yes       Travel_Frequently 1125      Research & Development
28   42  No        Travel_Rarely      691      Sales
29   44  No        Travel_Rarely      477      Research & Development
30   46  No        Travel_Rarely      705      Sales
⋮    ⋮   ⋮         ⋮                 ⋮         ⋮
1441 36  No        Travel_Frequently  688      Research & Development
1442 56  No        Non-Travel         667      Research & Development
1443 29  Yes       Travel_Rarely     1092      Research & Development
1444 42  No        Travel_Rarely      300      Research & Development
1445 56  Yes       Travel_Rarely      310      Research & Development
1446 41  No        Travel_Rarely      582      Research & Development
1447 34  No        Travel_Rarely      704      Sales
1448 36  No        Non-Travel         301      Sales
1449 41  No        Travel_Rarely      930      Sales
1450 32  No        Travel_Rarely      529      Research & Development
1451 35  No        Travel_Rarely     1146      Human Resources
1452 38  No        Travel_Rarely      345      Sales
1453 50  Yes       Travel_Frequently  878      Sales
1454 36  No        Travel_Rarely     1120      Sales
1455 45  No        Travel_Rarely      374      Sales
1456 40  No        Travel_Rarely     1322      Research & Development
1457 35  No        Travel_Frequently 1199      Research & Development
1458 40  No        Travel_Rarely     1194      Research & Development
1459 35  No        Travel_Rarely      287      Research & Development
1460 29  No        Travel_Rarely     1378      Research & Development
1461 29  No        Travel_Rarely      468      Research & Development
1462 50  Yes       Travel_Rarely      410      Sales
1463 39  No        Travel_Rarely      722      Sales
1464 31  No        Non-Travel         325      Research & Development
1465 26  No        Travel_Rarely     1167      Sales
1466 36  No        Travel_Frequently  884      Research & Development
1467 39  No        Travel_Rarely      613      Research & Development
1468 27  No        Travel_Rarely      155      Research & Development
1469 49  No        Travel_Frequently 1023      Sales
1470 34  No        Travel_Rarely      628      Research & Development
     DistanceFromHome Education EducationField   EmployeeCount EmployeeNumber ⋯
1     1               2         Life Sciences    1              1             ⋯
2     8               1         Life Sciences    1              2             ⋯
3     2               2         Other            1              4             ⋯
4     3               4         Life Sciences    1              5             ⋯
5     2               1         Medical          1              7             ⋯
6     2               2         Life Sciences    1              8             ⋯
7     3               3         Medical          1             10             ⋯
8    24               1         Life Sciences    1             11             ⋯
9    23               3         Life Sciences    1             12             ⋯
10   27               3         Medical          1             13             ⋯
11   16               3         Medical          1             14             ⋯
12   15               2         Life Sciences    1             15             ⋯
13   26               1         Life Sciences    1             16             ⋯
14   19               2         Medical          1             18             ⋯
15   24               3         Life Sciences    1             19             ⋯
16   21               4         Life Sciences    1             20             ⋯
17    5               2         Life Sciences    1             21             ⋯
18   16               2         Medical          1             22             ⋯
19    2               4         Life Sciences    1             23             ⋯
20    2               3         Life Sciences    1             24             ⋯
21   11               2         Other            1             26             ⋯
22    9               4         Life Sciences    1             27             ⋯
23    7               4         Life Sciences    1             28             ⋯
24   15               2         Life Sciences    1             30             ⋯
25    6               1         Medical          1             31             ⋯
26    5               3         Other            1             32             ⋯
27   16               1         Life Sciences    1             33             ⋯
28    8               4         Marketing        1             35             ⋯
29    7               4         Medical          1             36             ⋯
30    2               4         Marketing        1             38             ⋯
⋮    ⋮                ⋮         ⋮                ⋮             ⋮              ⋱
1441  4               2         Life Sciences    1             2025           ⋯
1442  1               4         Life Sciences    1             2026           ⋯
1443  1               4         Medical          1             2027           ⋯
1444  2               3         Life Sciences    1             2031           ⋯
1445  7               2         Technical Degree 1             2032           ⋯
1446 28               4         Life Sciences    1             2034           ⋯
1447 28               3         Marketing        1             2035           ⋯
1448 15               4         Marketing        1             2036           ⋯
1449  3               3         Life Sciences    1             2037           ⋯
1450  2               3         Technical Degree 1             2038           ⋯
1451 26               4         Life Sciences    1             2040           ⋯
1452 10               2         Life Sciences    1             2041           ⋯
1453  1               4         Life Sciences    1             2044           ⋯
1454 11               4         Marketing        1             2045           ⋯
1455 20               3         Life Sciences    1             2046           ⋯
1456  2               4         Life Sciences    1             2048           ⋯
1457 18               4         Life Sciences    1             2049           ⋯
1458  2               4         Medical          1             2051           ⋯
1459  1               4         Life Sciences    1             2052           ⋯
1460 13               2         Other            1             2053           ⋯
1461 28               4         Medical          1             2054           ⋯
1462 28               3         Marketing        1             2055           ⋯
1463 24               1         Marketing        1             2056           ⋯
1464  5               3         Medical          1             2057           ⋯
1465  5               3         Other            1             2060           ⋯
1466 23               2         Medical          1             2061           ⋯
1467  6               1         Medical          1             2062           ⋯
1468  4               3         Life Sciences    1             2064           ⋯
1469  2               3         Medical          1             2065           ⋯
1470  8               3         Medical          1             2068           ⋯
     RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1    1                        80            0                 8
2    4                        80            1                10
3    2                        80            0                 7
4    3                        80            0                 8
5    4                        80            1                 6
6    3                        80            0                 8
7    1                        80            3                12
8    2                        80            1                 1
9    2                        80            0                10
10   2                        80            2                17
11   3                        80            1                 6
12   4                        80            0                10
13   4                        80            1                 5
14   3                        80            1                 3
15   2                        80            0                 6
16   3                        80            1                10
17   4                        80            2                 7
18   2                        80            2                 1
19   3                        80            0                31
20   3                        80            0                 6
21   4                        80            1                 5
22   2                        80            0                10
23   3                        80            0                13
24   4                        80            0                 0
25   3                        80            0                 8
26   4                        80            1                26
27   2                        80            0                10
28   4                        80            1                10
29   4                        80            1                24
30   4                        80            0                22
⋮    ⋮                        ⋮             ⋮                ⋮
1441 2                        80            3                18
1442 1                        80            1                13
1443 2                        80            3                 4
1444 1                        80            0                24
1445 4                        80            1                14
1446 3                        80            1                21
1447 4                        80            2                 8
1448 1                        80            1                15
1449 3                        80            1                14
1450 4                        80            0                 4
1451 3                        80            0                 9
1452 3                        80            1                10
1453 4                        80            2                12
1454 1                        80            1                 8
1455 3                        80            0                 8
1456 4                        80            0                 8
1457 4                        80            2                10
1458 2                        80            3                20
1459 4                        80            1                 4
1460 1                        80            1                10
1461 2                        80            0                 5
1462 2                        80            1                20
1463 1                        80            1                21
1464 2                        80            0                10
1465 4                        80            0                 5
1466 3                        80            1                17
1467 1                        80            1                 9
1468 2                        80            1                 6
1469 4                        80            0                17
1470 1                        80            0                 6
     TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1    0                     1                6              4
2    3                     3               10              7
3    3                     3                0              0
4    3                     3                8              7
5    3                     3                2              2
6    2                     2                7              7
7    3                     2                1              0
8    2                     3                1              0
9    2                     3                9              7
10   3                     2                7              7
11   5                     3                5              4
12   3                     3                9              5
13   1                     2                5              2
14   2                     3                2              2
15   4                     3                4              2
16   1                     3               10              9
17   5                     2                6              2
18   2                     2                1              0
19   3                     3               25              8
20   3                     3                3              2
21   5                     2                4              2
22   4                     3                5              3
23   4                     3               12              6
24   6                     3                0              0
25   2                     3                4              2
26   3                     2               14             13
27   5                     3               10              2
28   2                     3                9              7
29   4                     3               22              6
30   2                     2                2              2
⋮    ⋮                     ⋮               ⋮              ⋮
1441 3                     3                4              2
1442 2                     2               13             12
1443 3                     4                2              2
1444 2                     2               22              6
1445 4                     1               10              9
1446 3                     3               20              7
1447 2                     3                8              7
1448 4                     2               15             12
1449 5                     3                5              4
1450 4                     3                4              2
1451 2                     3                9              0
1452 1                     3               10              7
1453 3                     3                6              3
1454 2                     2                6              3
1455 3                     3                5              3
1456 2                     3                2              2
1457 2                     4               10              2
1458 2                     3                5              3
1459 5                     3                4              3
1460 2                     3                4              3
1461 3                     1                5              4
1462 3                     3                3              2
1463 2                     2               20              9
1464 2                     3                9              4
1465 2                     3                4              2
1466 3                     3                5              2
1467 5                     3                7              7
1468 0                     3                6              2
1469 3                     2                9              6
1470 3                     4                4              3
     YearsSinceLastPromotion YearsWithCurrManager
1    0                        5
2    1                        7
3    0                        0
4    3                        0
5    2                        2
6    3                        6
7    0                        0
8    0                        0
9    1                        8
10   7                        7
11   0                        3
12   0                        8
13   4                        3
14   1                        2
15   0                        3
16   8                        8
17   0                        5
18   0                        0
19   3                        7
20   1                        2
21   1                        3
22   0                        3
23   2                       11
24   0                        0
25   1                        3
26   4                        8
27   6                        7
28   4                        2
29   5                       17
30   2                        1
⋮    ⋮                       ⋮
1441  0                       2
1442  1                       9
1443  2                       2
1444  4                      14
1445  9                       8
1446  0                      10
1447  1                       7
1448 11                      11
1449  0                       4
1450  1                       2
1451  1                       7
1452  1                       9
1453  0                       1
1454  0                       0
1455  0                       1
1456  2                       2
1457  0                       2
1458  0                       2
1459  1                       1
1460  0                       3
1461  0                       4
1462  2                       0
1463  9                       6
1464  1                       7
1465  0                       0
1466  0                       3
1467  1                       7
1468  0                       3
1469  0                       8
1470  1                       2

In [ ]:
str(DATOS_KAGGLE)

'data.frame':	1470 obs. of  35 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : chr  "Yes" "No" "Yes" "No" ...
 $ BusinessTravel          : chr  "Travel_Rarely" "Travel_Frequently" "Travel_Rarely" "Travel_Frequently" ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ Department              : chr  "Sales" "Research & Development" "Research & Development" "Research & Development" ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EducationField          : chr  "Life Sciences" "Life Sciences" "Other" "Life Sciences" ...
 $ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : int  2 3 4 4 1 4 3 4 4 3 ...
 $ Gender                  : chr  "Female" "Male" "Male" "Female" ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : int  3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : int  2 2 1 1 1 1 1 1 3 2 ...
 $ JobRole                 : chr  "Sales Executive" "Research Scientist" "Laboratory Technician" "Research Scientist" ...
 $ JobSatisfaction         : int  4 2 3 3 2 4 1 3 3 3 ...
 $ MaritalStatus           : chr  "Single" "Married" "Single" "Married" ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ Over18                  : chr  "Y" "Y" "Y" "Y" ...
 $ OverTime                : chr  "Yes" "No" "Yes" "Yes" ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: int  1 4 2 3 4 3 1 2 2 2 ...
 $ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
 $ StockOptionLevel        : int  0 1 0 0 1 0 3 1 0 2 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : int  1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...

In [ ]:
summary(DATOS_KAGGLE)

      Age         Attrition         BusinessTravel       DailyRate
 Min.   :18.00   Length:1470        Length:1470        Min.   : 102.0
 1st Qu.:30.00   Class :character   Class :character   1st Qu.: 465.0
 Median :36.00   Mode  :character   Mode  :character   Median : 802.0
 Mean   :36.92                                         Mean   : 802.5
 3rd Qu.:43.00                                         3rd Qu.:1157.0
 Max.   :60.00                                         Max.   :1499.0
  Department        DistanceFromHome   Education     EducationField
 Length:1470        Min.   : 1.000   Min.   :1.000   Length:1470
 Class :character   1st Qu.: 2.000   1st Qu.:2.000   Class :character
 Mode  :character   Median : 7.000   Median :3.000   Mode  :character
                    Mean   : 9.193   Mean   :2.913
                    3rd Qu.:14.000   3rd Qu.:4.000
                    Max.   :29.000   Max.   :5.000
 EmployeeCount EmployeeNumber   EnvironmentSatisfaction    Gender
 Min.   :1     Min.   :   1.0   Min.   :1.000           Length:1470
 1st Qu.:1     1st Qu.: 491.2   1st Qu.:2.000           Class :character
 Median :1     Median :1020.5   Median :3.000           Mode  :character
 Mean   :1     Mean   :1024.9   Mean   :2.722
 3rd Qu.:1     3rd Qu.:1555.8   3rd Qu.:4.000
 Max.   :1     Max.   :2068.0   Max.   :4.000
   HourlyRate     JobInvolvement    JobLevel       JobRole
 Min.   : 30.00   Min.   :1.00   Min.   :1.000   Length:1470
 1st Qu.: 48.00   1st Qu.:2.00   1st Qu.:1.000   Class :character
 Median : 66.00   Median :3.00   Median :2.000   Mode  :character
 Mean   : 65.89   Mean   :2.73   Mean   :2.064
 3rd Qu.: 83.75   3rd Qu.:3.00   3rd Qu.:3.000
 Max.   :100.00   Max.   :4.00   Max.   :5.000
 JobSatisfaction MaritalStatus      MonthlyIncome    MonthlyRate
 Min.   :1.000   Length:1470        Min.   : 1009   Min.   : 2094
 1st Qu.:2.000   Class :character   1st Qu.: 2911   1st Qu.: 8047
 Median :3.000   Mode  :character   Median : 4919   Median :14236
 Mean   :2.729                      Mean   : 6503   Mean   :14313
 3rd Qu.:4.000                      3rd Qu.: 8379   3rd Qu.:20462
 Max.   :4.000                      Max.   :19999   Max.   :26999
 NumCompaniesWorked    Over18            OverTime         PercentSalaryHike
 Min.   :0.000      Length:1470        Length:1470        Min.   :11.00
 1st Qu.:1.000      Class :character   Class :character   1st Qu.:12.00
 Median :2.000      Mode  :character   Mode  :character   Median :14.00
 Mean   :2.693                                            Mean   :15.21
 3rd Qu.:4.000                                            3rd Qu.:18.00
 Max.   :9.000                                            Max.   :25.00
 PerformanceRating RelationshipSatisfaction StandardHours StockOptionLevel
 Min.   :3.000     Min.   :1.000            Min.   :80    Min.   :0.0000
 1st Qu.:3.000     1st Qu.:2.000            1st Qu.:80    1st Qu.:0.0000
 Median :3.000     Median :3.000            Median :80    Median :1.0000
 Mean   :3.154     Mean   :2.712            Mean   :80    Mean   :0.7939
 3rd Qu.:3.000     3rd Qu.:4.000            3rd Qu.:80    3rd Qu.:1.0000
 Max.   :4.000     Max.   :4.000            Max.   :80    Max.   :3.0000
 TotalWorkingYears TrainingTimesLastYear WorkLifeBalance YearsAtCompany
 Min.   : 0.00     Min.   :0.000         Min.   :1.000   Min.   : 0.000
 1st Qu.: 6.00     1st Qu.:2.000         1st Qu.:2.000   1st Qu.: 3.000
 Median :10.00     Median :3.000         Median :3.000   Median : 5.000
 Mean   :11.28     Mean   :2.799         Mean   :2.761   Mean   : 7.008
 3rd Qu.:15.00     3rd Qu.:3.000         3rd Qu.:3.000   3rd Qu.: 9.000
 Max.   :40.00     Max.   :6.000         Max.   :4.000   Max.   :40.000
 YearsInCurrentRole YearsSinceLastPromotion YearsWithCurrManager
 Min.   : 0.000     Min.   : 0.000          Min.   : 0.000
 1st Qu.: 2.000     1st Qu.: 0.000          1st Qu.: 2.000
 Median : 3.000     Median : 1.000          Median : 3.000
 Mean   : 4.229     Mean   : 2.188          Mean   : 4.123
 3rd Qu.: 7.000     3rd Qu.: 3.000          3rd Qu.: 7.000
 Max.   :18.000     Max.   :15.000          Max.   :17.000

# PRACTICA FINAL PARTE 2

1.   ¿Cuantas categorías hay en la variable "Busines Travel"? ¿Cuantos empleados no viajan?
2.   ¿Cuantas categorías hay en la variable "Marital Status"? ¿Cuantos empleados están casados?
3.   ¿Cual es el gasto total mensual de la empresa en salarios?

In [ ]:
DATOS_KAGGLE$BusinessTravel <- as.factor(DATOS_KAGGLE$BusinessTravel)
summary(DATOS_KAGGLE$BusinessTravel)

In [ ]:
DATOS_KAGGLE$MaritalStatus <- as.factor(DATOS_KAGGLE$MaritalStatus)
summary(DATOS_KAGGLE$MaritalStatus)

In [ ]:
sum(DATOS_KAGGLE$MonthlyIncome)

[1] 9559309

# PRACTICA FINAL PARTE 3: BONUS TRACK - MUY DIFICIL!!!
 Usando Bucles, evalua si existen diferencias entre hombres y mujeres respecto a "Attrition"

 Es decir, si el porcentaje de empleados "quemados"es igual en ambos colectivos

In [ ]:
DATOS_KAGGLE$Attrition=as.factor(DATOS_KAGGLE$Attrition)

Attrition_HOMBRES=0
Numero_de_HOMBRES=0

for (i in 1:nrow(DATOS_KAGGLE))
{
  if(DATOS_KAGGLE[i,12]=="Male")
  {
    Numero_de_HOMBRES = Numero_de_HOMBRES +1
    if(DATOS_KAGGLE[i,2]=="Yes")
    {
      Attrition_HOMBRES = Attrition_HOMBRES + 1
    }else{}
  }else{}
}
Attrition_HOMBRES/Numero_de_HOMBRES

ERROR: ignored

In [ ]:

Attrition_MUJERES=0
Numero_de_MUJERES=0

for (i in 1:nrow(DATOS_KAGGLE))
{
  if(DATOS_KAGGLE[i,12]=="Female")
  {
    Numero_de_MUJERES = Numero_de_MUJERES +1
    if(DATOS_KAGGLE[i,2]=="Yes")
    {
      Attrition_MUJERES = Attrition_MUJERES + 1
    }else{}
  }else{}
}
Attrition_MUJERES/Numero_de_MUJERES

[1] 0.1479592